<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation">
      <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">Form Element</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">MultiMedia Elment</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_c" data-toggle="tab" href="#tab_c" role="tab">Canvas</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_a" role="tabpanel">
      <p>
        in preparation...
      </p>
    </div>
    <div class="tab-pane" id="tab_b" role="tabpanel">
      <p>
        in preparation...
      </p>
    </div>
    <div class="tab-pane" id="tab_c" role="tabpanel">
      <p>
        in preparation...
      </p>
    </div>
  </div>
</div>
